.dialog-wrapper{
	position: absolute;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 30%;
	right: 0;
	text-align: center;
	background-color: #26295a;
	color: white;
}
.dialog-wrapper > .dialog-header{
	height: 60px;
	width: 100%;
	background-color: #0C0F3B;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 5px 0 10px;
	box-sizing: border-box;
}
.dialog-wrapper > .dialog-header > .icon-wrapper{
	height: 40px;
	width: 40px;
	border-radius: 20px;
	overflow: hidden;
}
.dialog-wrapper > .dialog-header > .icon-wrapper > img{
	max-width: 40px;
	max-height: 40px;
}
.dialog-wrapper > .dialog-header > .buddy-name{
	font-size: 24px;
	text-align: left;
	padding-left: 20px;
	flex-grow: 2;
}
.dialog-wrapper > .dialog-body{
	position: absolute;
	display: flex;
	max-height: calc(100% - 60px);
	width: 100%;
	bottom: 0px;
	flex-direction: column;
	box-sizing: border-box;
	padding: 20px;
	align-items: flex-end;
}
.dialog-wrapper > .dialog-body > .bubble{
	box-sizing: border-box;
	padding: 5px 15px;
	background-color: #54190E;
	border-radius: 15px;
	margin-top: 10px;
	font-size: 20px;
	text-align: right;
	max-width: 35%;
}
.dialog-wrapper > .dialog-body > .bubble.left{
	text-align: left;
	align-self: flex-start;
	background-color: #81382A;
}