@import '~bootstrap/scss/bootstrap';
@import './styles/content.css';
@import './styles/dialog.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
}
.box {
  width: 8px;
  height: 8px;
  background: #fff;
  margin: 3px 3px;
  display: inline-block;
}
.bento-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bento-wrapper > div {
  width: 42px;
  height: 42px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bento:hover .box:nth-child(2),
.bento:hover .box:nth-child(4),
.bento:hover .box:nth-child(6),
.bento:hover .box:nth-child(8){
  opacity: 0;
}

.bi-bucket {
  height: 42px;
  width: 42px;
}
.bi-bucket:hover {
  color: red;
}

/*loader styles*/
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}